
<%= f.fields_for :answers do |answer_form| %>
 <div class="answer-h">
  <!-- answer field-->
  <div class="correct_select">
    <%= answer_form.check_box :correct, checked_value: true, unchecked_value: false, id:"answer_option" %>
    <%= answer_form.label :correct , "Reponse correcte ?", id:"answer_option" %>
  </div>
 </div>
  <!-- answer field-->
  <%= answer_form.text_field :content, placeholder: " proposition ...", class:"p-2 rounded-md " %>
<% end %>