<% @FeedCourses.each do |course| %>
    <div class="bg-white border p-2 rounded-md mb-2">
        <h1 class="font-bold "><%= course.title %></h1>
        <!-- Courses-->
        <div class="border rounded-md mt-2">
            <div class="p-2">
                <%= course.content %>
            </div>
            <!-- Feed Bar-->
            <%= render "home/shared/feeds_bar" %>
        </div>
        <!-- Exercises -->
        <div class="border rounded-md mt-2">
            <div class="p-2">
                <%= course.content %>
            </div>
            <!-- Exercise Bar -->
            <div class="border-top p-2">
                <span>500 Eleves</span>
                <span> Traiter</span>
            </div>
        </div>
    </div>
<% end %> 